.card-component {
	width: 190px;
	display: inline-block;
}

.slide-cover-div div {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.slide-cover-div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.slide-cover-div p {
	opacity: 0;
	font-weight: 600;
	font-size: 1.2rem;
	margin-bottom: 2px;
	font-family: var(--Poppins);
}

.slide-cover-div span {
	opacity: 0;
	font-weight: 500;
	font-family: var(--Poppins);
	font-size: 1.2rem;
	letter-spacing: 0.2mm;
}

.slide-cover-div:hover img {
	transition: 0.25s;
	webkit-filter: blur(3px);
	filter: blur(2px);
	cursor: pointer;
}

.slide-cover-div:hover p {
	transition: 0.25s;
	opacity: 1 !important;
	cursor: pointer;
}

.slide-cover-div:hover span {
	transition: 0.25s;
	opacity: 1 !important;
	cursor: pointer;
}

div.carousel-item .slide-cover-div:last-child {
	margin: 0px;
}
